
.fixed-bg {
   	background-image: url("../img/homebg.jpg");
    min-height: 500px;
    background-attachment: fixed;
   	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
}

.modal-lg {
    max-width: 95% !important;
}

.table-center{
   text-align: center;
}

a {
  text-decoration: none !important; 
}

.borderless td, .borderless th {
    border: none !important;
}