/*************************************************
* Filename    : modification.css
* Programmer  : Ranggi Rahman
* Date        : 2017 - 12 - 20
* Email       : ranggirahman@gmail.com
* Website     : 1400707.blog.upi.edu
* Deskripsi   : Add Modification to CSS
*
**************************************************/

.fixed-bg {
   	background-image: url("../img/homebg.jpg");
    min-height: 500px;
    background-attachment: fixed;
   	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.material-icons {
    display: inline-flex;
    vertical-align: middle;
    margin-top: -2px;
}

.modal-lg {
    max-width: 95% !important;
}

.table-center{
    text-align: center;
}

a {
    text-decoration: none !important; 
}

.borderless td, .borderless th {
    border: none !important;
}

.btn-less{
    border:0px solid transparent;
    padding: 5px 10px 0px 10px;
    margin-top: -5px;
}